@import 'variables';

@import "../../../bower_components/lovelo-fontface/css/lovelo-fontface.css";
@lovelo-font-path: "/fonts";

.sidebar-main {
	display: block !important;
}

.uk-offcanvas > .uk-offcanvas-bar {
	transform: translateX(-80%);
}

.uk-offcanvas-reveal > .uk-offcanvas-bar {
	transform: translateX(0) !important;
}

#navbar {
	margin-left: $sidebar-width-small;
	transition: all ease 0.5s;
	position: absolute;
    top: 0;
    width: 100%;
	background-color: #1F87F0;
	z-index: 1;
}

.heading-title {
	font-family: "Lovelo Black", sans-serif;
	color: #ffffff;
	font-size: 30px;
	padding-left: 0;
}

.sidebar {
	width: $sidebar-width-small;
	z-index: 1;
	top: 0;
	height: 100%;
	position: relative;
	transition: all ease 0.5s;
}

.uk-navbar-left {
	z-index: 2;
}

.uk-logo {
	justify-content: left;
}

.uk-logo > img {
	height: 100%;
	width: auto;
}

.hexLogo {
	display: block !important;
	max-height: 60%;
	width: auto;
	margin-right: 0.7em;
}

.fullLogo {
	// max-width: 80%;
	max-height: 24px;
	display: block !important;
	margin-bottom: 2px;
}

.uk-nav li {
	width: $sidebar-width-large;
} 

.sidebar-item {
	// margin-left: 18px;
}

.sidebar-item a {
	display: flex;
}

.sidebar-item-icon {
	width: $sidebar-width-small;
	text-align: center;
	align-self: center;
}

.sidebar-item-text {
 	display: none;
 	font-size: 0.9em;
}

@media only screen and (min-width: 768px) {
    /* For screens larger than a phone: */
	.sidebar:hover {
		width: $sidebar-width-large;
	}

	.sidebar-item-text {
	 	display: inline-block;
	}

	.sidebar:hover + #navbar {
		margin-left: $sidebar-width-large;
	}
}