$sidebar-width-small: 72px;
$sidebar-width-large: 312px;

.sidebar-main {
	display: block !important;
}

.uk-offcanvas > .uk-offcanvas-bar {
	transform: translateX(-80%);
}

.uk-offcanvas-reveal > .uk-offcanvas-bar {
	transform: translateX(0) !important;
}

#navbar {
	margin-left: $sidebar-width-small;
	transition: all ease 0.5s;
}

.sidebar {
	width: $sidebar-width-small;
	z-index: 1;
	top: 0;
	height: 100%;
	position: absolute;
	transition: all ease 0.5s;
}

.uk-navbar-left {
	background-color: white;
	z-index: 2;
}

.uk-logo {
	justify-content: left;
}

.uk-logo > img {
	height: 100%;
	width: auto;
}

.hexLogo {
	display: block !important;
	max-height: 60%;
	width: auto;
	margin-right: 0.7em;
}

.fullLogo {
	max-width: 80%;
	display: block !important;
}

.uk-nav li {
	width: $sidebar-width-large;
} 

.sidebar-item {
	// margin-left: 18px;
}

.sidebar-item-icon {
	width: $sidebar-width-small;
	text-align: center;
}

.sidebar-item-text {
 	display: none;
}

@media only screen and (min-width: 768px) {
    /* For screens larger than a phone: */
    .sidebar-item-text {
	 	display: inline-block;
	}

	.sidebar:hover {
		width: $sidebar-width-large;
	}

	.sidebar:hover + #navbar {
		margin-left: $sidebar-width-large;
	}
}