<div class="sidebar uk-section-primary">
	    <div class="uk-flex uk-flex-column">
	    	<a class="uk-navbar-item uk-logo" href="#">
	    		<img class="hexLogo" src="../assets/HexLogo.svg">
	    		<img class="fullLogo" src="../assets/WhiteFullLogo.svg"></a>
	        <ul class="uk-nav uk-nav-primary uk-margin-auto-vertical">
	        	
	       		<li class="uk-nav-divider"></li>
	            <li class="uk-active sidebar-item"><a href="#"><span class="uk-margin-right" uk-icon="icon: home"> </span> Dashboard</a></li>
	            <li class="uk-nav-divider"></li>
	            <li class="sidebar-item"><a href="#"><span class="uk-margin-right" uk-icon="icon: bolt"></span> Market</a></li>
	            <li class="uk-nav-divider"></li>
	            <li class="sidebar-item"><a href="#"><span class="uk-margin-right" uk-icon="icon: list"></span> Leaderboard</a></li>
	            <li class="uk-nav-divider"></li>
	            <li class="sidebar-item"><a href="#"><span class="uk-margin-right" uk-icon="icon: plus"></span> Join a League</a></li>
	        </ul>
	    </div>
</div>

<div id="navbar">
    <nav class="uk-navbar-container uk-navbar-transparent"  uk-navbar>
        <div class="uk-navbar-left">
        	<a class="uk-navbar-item uk-logo" href="#">Dashboard</a>

           <!--  <ul class="uk-navbar-nav">
                <li class="uk-active"><a href="#" uk-toggle="target: #offcanvas-nav-primary">Active</a></li>
            </ul> -->
        </div>
    </nav>
</div>