<div >
    <nav class="uk-navbar-container" uk-navbar >
        <div class="uk-navbar-left">
        	<a class="uk-navbar-item uk-logo uk-margin-large-left" href="#">Logo</a>

            <ul class="uk-navbar-nav">
                <li class="uk-active"><a href="#" uk-toggle="target: #offcanvas-nav-primary">Active</a></li>
            </ul>
        </div>
    </nav>
</div>

<div id="offcanvas-nav-primary" uk-offcanvas="mode: reveal; overlay: false" class="sidebar-main">

    <div class="uk-offcanvas-bar uk-flex uk-flex-column">

        <ul class="uk-nav uk-nav-primary uk-nav-center uk-margin-auto-vertical">
            <li class="uk-active"><a href="#">Active</a></li>
            <li class="uk-parent">
                <a href="#">Parent</a>
                <ul class="uk-nav-sub">
                    <li><a href="#">Sub item</a></li>
                    <li><a href="#">Sub item</a></li>
                </ul>
            </li>
            <li class="uk-nav-header">Header</li>
            <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: table"></span> Item</a></li>
            <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: thumbnails"></span> Item</a></li>
            <li class="uk-nav-divider"></li>
            <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: trash"></span> Item</a></li>
        </ul>

    </div>
</div>