<div class="homeLogo">
	<img src="../assets/ContrastLogo.svg" >
</div>

<div class="fullscreen uk-grid-collapse uk-child-width-expand@s uk-flex-center" uk-grid>
	<div class="uk-section-primary">
		<div class="uk-container uk-container-large flexbox-center">
				<div class="homeLogoMobile uk-margin-large-bottom">
					<img src="../assets/WhiteFullLogo.svg" >
				</div>
				<ul class="uk-list hero-text">
				    <li><span uk-icon="icon: world; ratio: 1.5"></span> Create your crypto portfolio.</li>
				    <li><span uk-icon="icon: users; ratio: 1.5"></span> Compete with other players.</li>
				    <li><span uk-icon="icon: bolt; ratio: 1.5"></span> Win prizes!</li>
				</ul>
		</div>
	</div>
	<div>
		<div class="uk-container uk-container-large flexbox-center rightBox">
			<div>
				<h2>Signup or Login</h2>
			</div>
			<!-- <div>
				<a href="{{environment.apiUrl}}/auth/facebook" class="uk-button uk-button-primary">Login with Facebook</a>	
			</div> -->
			<a href="{{environment.apiUrl}}/auth/facebook"><div class="facebook-button"></div></a>
			<a href="{{environment.apiUrl}}/auth/google"><div class="google-button"></div></a>
		</div>
	</div>
</div>
