<div class="homeLogo">
	<img src="../assets/ContrastLogo.svg" >
</div>
<div class="fullscreen uk-grid-collapse uk-child-width-expand@s uk-flex-center" uk-grid>
	<div class="uk-section-primary">
		<div class="uk-container uk-container-large flexbox-center">
				<ul class="uk-list hero-text">
				    <li><span uk-icon="icon: world; ratio: 1.5"></span> Create your crypto portfolio.</li>
				    <li><span uk-icon="icon: users; ratio: 1.5"></span> Compete with other players.</li>
				    <li><span uk-icon="icon: bolt; ratio: 1.5"></span> Win prizes!</li>
				</ul>
		</div>
	</div>
	<div>
		<div class="uk-container uk-container-large flexbox-center rightBox">
			<div>
				<h2>Signup or Login</h2>
			</div>
			<div>
				<a href="{{environment.apiUrl}}/auth/facebook" class="uk-button uk-button-primary">Login with Facebook</a>	
			</div>
			<div>
				<a href="{{environment.apiUrl}}/auth/google" class="uk-button uk-button-primary">Login with Google</a>
			</div>
		</div>
	</div>
</div>
