@import 'variables';

.fullscreen {
	height: 100%;
	width: 100%;
	// position: absolute;
}

.homeLogo {
	display: none;
}

.homeLogoMobile {
	position: absolute;
	width: 100%;
	top: 0;
	display: flex;
  	align-items: center;
  	justify-content: center;
  	z-index: 1;
  	margin-top: 2em;
  	max-height: 3em;
}

.homeLogoMobile img {
	height: 5vh;
	width: auto;
}

.flexbox-center {
	display: flex;
  	align-items: center;
  	justify-content: center;
  	height: 100%;
}

.rightBox{
	flex-direction: column;
}

.hero-text{
	font-family: 'Lato', sans-serif;
	font-size: 1em;
	font-weight: 600;
	line-height: 3em;
	color: #ffffff;
}

.facebook-button {
	background-image: url(/assets/btn_facebook.png);
	background-size: contain;
	background-repeat: no-repeat;
    width: 250px;
    height: 60px;
}

.google-button {
	background-image: url(/assets/btn_google_signin_light_normal_web@2x.png);
	background-size: cover;
    width: 250px;
    height: 60px;
}

.google-button:hover {
	background-image: url(/assets/btn_google_signin_light_pressed_web@2x.png);
}

.hero-item a {
	display: flex;
}

.hero-item-icon {
	text-align: center;
	align-self: center;
}

.hero-item-text {
 	display: inline-block;
}

h2 {
	font-size: 1.2rem;
}

.scrollDown {
	position: absolute;
	width: 100%;
	text-align: center;
	bottom: 0;
	text-shadow: 0 0 2px $white;
}

@media only screen and (min-width: 768px) {
	.news-scroll {
		height: 30vw;
		overflow-y: scroll;
	}

	.news-image {
		height: 10vw;
		background-size: cover;
	}

	.homeLogoMobile {
		display: none;
	}

	.homeLogo {
		position: absolute;
		width: 100%;
		top: 0;
		display: flex;
	  	align-items: center;
	  	justify-content: center;
	  	z-index: 1;
	  	margin-top: 2em;
	  	max-height: 3em;
	}

	.homeLogo img {
		height: 3vw;
		width: auto;
	}

	.hero-text{
		font-size: 1.5em;
	}

	h2 {
		font-size: 2rem;
	}

	.rightBox div {
		margin: 1em;
	}
}