<div class="page-container">
	<app-sidebar page="Join a League">
	</app-sidebar>
	<div class="page-content">
		<div class="uk-container uk-margin-top">
			<div class="uk-text-lead">Select your league</div>
			<div class="uk-margin-top card-container uk-grid-small uk-grid-match uk-child-width-expand@s" uk-grid>

				<div class="leagueCard" *ngFor="let league of leagues">
					<div class="uk-card uk-card-hover uk-card-primary uk-card-small uk-card-body" [ngStyle]="{'background-color': league.color}">
						<div class="uk-flex uk-flex-bottom uk-card-body">
							<a class="uk-flex uk-flex-center" (click)="selected(league.league_type_id)">
								<ul class="uk-list">
									<li><span class="uk-text-lead">{{league.title}}</span></li>
									<li><span class="uk-text-bold">Buy in tokens: {{league.buy_in}}</span></li>
								</ul>
							</a>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
<div uk-alert id="joiningAlert" *ngIf="loading">Joining a league...
	<div uk-spinner class="uk-margin-small-left"></div>
</div>
