<script src="assets/draggable-piechart.js"></script>
<div class="clickable" [class.flex-full]="hideCards">
	<div class="uk-card uk-card-primary uk-card-small uk-card-hover uk-card-body">
		<div class="uk-flex uk-flex-between">
			<div>
				<h3 class="uk-card-title">Your Portfolio</h3>
			</div>
			<div *ngIf="hideCards;else other_content">
				<span uk-icon="close" class="uk-button" (click)="portfolioExpand()"></span>
			</div>
			<ng-template #other_content><span uk-icon="pencil" class="uk-button" (click)="portfolioExpand()"></span></ng-template>
		</div>		
		<div class="uk-flex uk-flex-between uk-flex-middle uk-margin uk-padding uk-padding-remove-vertical" >
			<div uk-grid *ngIf="!hideCards">
				<ul class="uk-list uk-list-large">
				    <li>● BTC: 43%</li>
				    <li>● BTC: 43%</li>
				    <li>● BTC: 43%</li>
				</ul>
				<ul class="uk-list uk-list-large">
				    <li>● BTC: 43%</li>
				    <li>● BTC: 43%</li>
				    <li>● BTC: 43%</li>
				</ul>
			</div>
    		<canvas id="piechart" width="200" height="200">Your browser is too old!</canvas>
		</div>
		<div *ngIf="hideCards" class="uk-animation-fade-in">
			<div uk-grid>
				<ul class="uk-list uk-list-large">
				    <li>● BTC: 43%</li>
				    <li>● BTC: 43%</li>
				    <li>● BTC: 43%</li>
				</ul>
				<ul class="uk-list uk-list-large">
				    <li>● BTC: 43%</li>
				    <li>● BTC: 43%</li>
				    <li>● BTC: 43%</li>
				</ul>
			</div>
			<div uk-grid>
				<ul class="uk-list uk-list-large">
				    <li>● BTC: 43%</li>
				    <li>● BTC: 43%</li>
				    <li>● BTC: 43%</li>
				</ul>
				<ul class="uk-list uk-list-large">
				    <li>● BTC: 43%</li>
				    <li>● BTC: 43%</li>
				    <li>● BTC: 43%</li>
				</ul>
			</div>
		</div>
	</div>
</div>