<div class="clickable" [class.flex-full]="hideCards">
	<div class="full-height uk-card uk-card-primary uk-card-small uk-card-hover uk-card-body">
		<div class="uk-flex uk-flex-between">
			<div>
				<h3 class="uk-card-title">Your Portfolio</h3>
			</div>
			<div *ngIf="hideCards;else other_content">
				<form class="uk-search uk-search uk-search-default">
					<a class="uk-search-icon-flip" uk-search-icon></a>
					<input class="uk-search-input" type="search" placeholder="Search for a coin" (input)="onSearchChange($event.target.value)" (focus)="focusFunction()" (focusout)="focusOutFunction()">
					<div uk-dropdown="mode: click" class="background">
					    <ul class="uk-nav uk-dropdown-nav dropdown">				
					        
					        	<li class="uk-margin-right item" align="center" *ngFor="let c of autoComplete">
					        		<div (click)="addRowFromSearch(c)">{{c}}</div>
					        		<div class="uk-margin-small uk-nav-divider">
					        		</div>
					        	</li> 
					    </ul>
					</div>
				</form>
				<span uk-icon="close" class="uk-button" (click)="portfolioExpand()"></span>
			</div>
			<ng-template #other_content><span uk-icon="pencil" class="uk-button" (click)="portfolioExpand()"></span></ng-template>
		</div>

	  <div id="modal-center" class="uk-flex-top" uk-modal>
    	<div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">

        <button class="uk-modal-close-default" (click)="submitPopupClick()" type="button" uk-close></button>

        <p class="uk-align-center ng-test-portfolio">{{submitMessage}}</p>

    	</div>
		</div>


		<div *ngIf="hideCards" class="uk-animation-fade-in">
			<div uk-grid class="uk-flex uk-flex-center">
				<div class="upper-half">	
					<ul class="uk-list uk-list-large">
					    <li>● Search for a coin or Add a coin manually</li>
					    <li>● Drag the Pie Chart to adjust equity</li>
					    <li align="center">
							  OR
							</li>
					    <li>● Enter in custom equity percentage value</li>
					</ul>
				</div>
				<div class="upper-half">
					<ul class="uk-list uk-list-large">
					    <li>● Expected coins shows no. of coins you would</li>
					    <li> get for the selected percentage out of $100,000</li>
					    <li>● Select a captain coin for 2x gains on that coin</li>
					    <li>● Close the window to go back to the league</li>
					</ul>
				</div>	
			</div>
		</div>



		<div uk-grid class="uk-flex uk-flex-between uk-flex-middle uk-margin uk-padding uk-padding-remove-vertical" >
			<div uk-grid *ngIf="!hideCards">
				<ul class="uk-list uk-list-large">
				    <li *ngFor="let field of portfolioFieldArray | slice:0:3; let i = index" class="">
				    	● {{field.ticker}}: {{field.percentage | number: '1.0-0'}}%
				    </li>
				</ul>
				<ul class="uk-list uk-list-large">
				    <li *ngFor="let field of portfolioFieldArray | slice:3:6; let i = index" class="">
				    	● {{field.ticker}}: {{field.percentage | number: '1.0-0'}}%
				    </li>
				</ul>
			</div>
			<div class="uk-first-column uk-width-2-3 uk-flex uk-flex-center uk-margin-large-top uk-animation-fade-in" *ngIf="hideCards" style="display: block">

				<div class="">
					<table id="portfolio-list" class="uk-table uk-table-small uk-table-divider">
				    <thead>
				      <tr>
				        <th>#</th>
				        <th>name</th>
				        <th>price</th>
				        <th>ticker</th>
				        <th>%</th>
				        <th>exp. coins</th>
				        <th></th>
				      </tr>
				    </thead>
				    <tbody>
				    	<tr *ngFor = "let field of portfolioFieldArray; let i = index">
				    		<!--"comment"-->
				    		<td>{{i+1}}</td>
				        <td>{{field.name}}</td>
				        <td>{{field.price}}</td>
				        <td>{{field.ticker}}</td>
				        <td><span (click)="percentUp(i)" uk-icon="plus"></span>  {{field.percentage | number: '1.0-0'}}  <span (click)="percentDown(i)" uk-icon="minus"></span></td>
				        <td>{{field.exp_coins}}</td>
				        <td>
				        	<span uk-icon="close" class="uk-button" (click)="rowDelete(i)"></span>
				        </td>
				    	</tr>
				    	<tr *ngIf="isNewRow">
				    		<td>
				    			<span uk-icon="close" (click)="deleteNewRow()"></span>
				    		</td>
		            <td style="width: 20%">
	                <input (input)="onSearchChange($event.target.value)" class="uk-input" type="text" id="newAttributeName" [(ngModel)]="portfolioNewAttribute.name" name="newAttributeName" />
	                <div uk-dropdown="mode: click; pos: top-right" class="background">
								    <ul class="uk-nav uk-dropdown-nav dropdown">				
								        
								        	<li class="uk-margin-right item" align="center" *ngFor="let c of autoComplete">
								        		<div (click)="addRowFromSearch(c)">{{c}}</div>
								        		<div class="uk-margin-small uk-nav-divider">
								        		</div>
								        	</li> 
								    </ul>
									</div>
		            </td>
		            <td>
	                {{portfolioNewAttribute.price}}
			          </td>
			          <td>
			            {{portfolioNewAttribute.ticker}}
			          </td>
			          <td style="width: 15%">
	                <input class="uk-input" type="number" id="newAttributePercentage" [(ngModel)]="portfolioNewAttribute.percentage" name="newAttributePercentage" />
		            </td>
		            <td>
			            {{portfolioNewAttribute.exp_coins}}
			          </td>
			          <td>
			            <span uk-icon="check" class="uk-button" (click)="rowInsert()"></span>
			          </td>
			        </tr>
				    	<tr *ngIf="addWithSearch">
				    		<td>
				    			<span uk-icon="close" (click)="deleteNewRowWithSearch()"></span>
				    		</td>
		            <td>
	                {{portfolioNewAttribute.name}}
		            </td>
		            <td>
	                {{portfolioNewAttribute.price}}
			          </td>
			          <td>
			            {{portfolioNewAttribute.ticker}}
			          </td>
			          <td style="width: 15%">
	                <input class="uk-input" type="number" id="newAttributePercentage" [(ngModel)]="portfolioNewAttribute.percentage" name="newAttributePercentage" />
		            </td>
		            <td>
			            {{portfolioNewAttribute.exp_coins}}
			          </td>
			          <td>
			            <span uk-icon="check" class="uk-button" (click)="rowWithSearchInsert()"></span>
			          </td>
			        </tr>
			        <tr *ngIf="!isNewRow">
				    		<td (click)="clickRowInsert()" class="click" colspan="7" align="center">+ Add a coin</td>
				    	</tr>
				    </tbody>
					</table>
				</div>

			</div>

				<div align="center" id="canvas" class="">
	    		<canvas [hidden]="!isPortfolioValid" #piechart id="piechart" width="200" height="200">Your browser is too old!</canvas>
	    	</div>


	    	<div id="captain" class="uk-align-center">
		    	<form *ngIf="hideCards" #f="ngForm" (ngSubmit)="submitPortfolio(f.value)">
					    <fieldset class="uk-fieldset">
					        <div class="uk-margin">
					            <select [(ngModel)]="captainCoin" class="uk-select" placeholder="select a captain coin" name="captainCoin">
					            		<option class="option uk-margin-right item" selected="selected">Select Captain Coin</option>
					                <option *ngFor="let opt of portfolioFieldArray" class="option uk-margin-right item"><div class="option">{{opt.ticker}}</div></option>
					            </select>
					        </div>
					        <div class="uk-margin-small-left">
					        	<button type="submit" class="uk-button uk-button-default" >Submit</button>
					        </div>
					    </fieldset>
					</form>
				</div>
		</div>
	</div>
</div>