.click:hover {
    cursor: pointer;
}

.flex-full {
    flex: 1;
}

.upper-half {
	margin: auto;
}

#captain {
  align: center;
}

#captain div {
	float: left;
}

.background {
	background: #4ea0f3;
	color: white;
}

.dropdown {
	max-height: 140px;
	overflow-y: scroll;
	z-index: 3;
}

.item:hover {
	font-weight: bold;
}

.modal {
	position: absolute; 
	width:50%; 
	height: 25%; 
	z-index: 3;
	left: 25%;
	top: 25%;
	background: white;
	color: grey;
}

.modal-view {
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-contents {

	position: absolute;
	z-index: 3;
	top: 20%;
	color: grey;
	text-align: center;
	width: 100%;
}

.okButton {
	height: 100%;
	background: blue;
}

@media only screen and (min-width: 1200px) {
  .upper-half { 
    font-size: 1.2em; 
  }
}

.search-suggest {
    background: #404040;
    width: 320px;
    border-top: 1px solid #c91c55;
    overflow: hidden;
    display: block;
    position: absolute;
    top: 40px;
    right: 0;
    border-radius: 3px;
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
}

.option {
	opacity: 0.5;
	background: #4ea0f3;
	color: white;
}

/* Let's get this party started */
::-webkit-scrollbar {
		margin-left: 5px;
		padding-left: 5px;
    width: 7px;
    background-clip: padding-box;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #fff; 
}
