<div class="page-container">
	<app-sidebar page="profile">
	</app-sidebar>
	<div class="page-content" *ngIf="!loading">
		<div class="uk-container uk-margin-top">
			<div class="userpic uk-margin-left@m">
				<img src="{{user.profilePicture}}" />
				<div class="uk-text-lead username">{{user.username}} <a href="" uk-toggle="target: #sendTokensModal" uk-tooltip="title: Send Tokens" class="sendTokens"><i class="fas fa-paper-plane fa-xs"></i></a></div>
				<div class="uk-text-lead uk-light tokens">{{user.tokens}} tokens</div>
			</div>

			<div class="uk-card-large uk-card-primary uk-card-body uk-flex uk-flex-center">
				<div class="uk-margin-top">
					<span class="uk-badge statsBadge">Leagues Participated: {{user.pastLeagues.length}}</span>
					<span class="uk-badge statsBadge">Average Portfolio Gains: {{avgPortfolioGains | number:'1.2-2'}}%</span>
					<span class="uk-badge statsBadge">Average Rank: {{avgRank}}</span>
					<span class="uk-badge statsBadge">Total Payout: {{totalPayout}}</span>
				</div>

			</div>
			<app-user-past-leagues
				[user]="user"
			></app-user-past-leagues>
		</div>
	</div>
</div>
<div id="sendTokensModal" uk-modal *ngIf="user">
    <div class="uk-modal-dialog uk-modal-body">
        <h2 class="uk-modal-title">Send Tokens</h2>
        <form class="uk-form-stacked">
			    <div class="uk-margin">
			        <label class="uk-form-label" for="form-stacked-text">Recipient</label>
			        <div class="uk-form-controls">
			            <input class="uk-input uk-form-large" id="form-stacked-text" type="text" placeholder="{{user.username}}" disabled>
			        </div>
			    </div>
			    <div class="uk-margin">
			        <label class="uk-form-label" for="form-stacked-text">Wallet</label>
			        <div class="uk-form-controls">
			            <input class="uk-input uk-form-large" id="form-stacked-text" type="text" placeholder="CryptoLeague Wallet: {{currentUser.tokens}} tokens" disabled>
			        </div>
			    </div>
			    <div class="uk-margin">
			    	<label class="uk-form-label" for="form-stacked-text">Amount</label>
			    	<div class="uk-form-controls">
			        <div class="uk-inline full-width">
			            <a class="uk-form-icon uk-form-icon-flip" uk-icon="icon: plus-circle" uk-tooltip="title: Send Max" (click)="sendMax()"></a>
			            <input class="uk-input uk-form-large uk-form-width-large full-width" type="number" name="numTokens" [(ngModel)]="numTokens">
			        </div>
			      </div>
			    </div>
			  </form>
        <p class="uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button" [disabled]="sendingTokens">Cancel</button>
            <button class="uk-button uk-button-primary" type="button" *ngIf="!sendingTokens; else sendLoader" (click)="sendTokens()">Send</button>
            <ng-template #sendLoader>
            	 <button class="uk-button uk-button-default" type="button" disabled><div uk-spinner></div>
</button>
            </ng-template>
        </p>
    </div>
</div>