<div class="overlay full-height">
	<div class="uk-container uk-margin-top full-height">
		<div class="uk-text-lead">League</div>
		<div class="uk-margin-top card-container full-height">
			<div class="uk-flex uk-flex-column full-height">
				<div class="uk-grid uk-child-width-expand@s uk-text-center uk-flex-stretch flex-grow-1 uk-flex-stretch uk-padding uk-padding-remove-right uk-padding-remove-top" uk-grid>
				        <div class="uk-card uk-card-primary uk-card-body uk-flex-stretch"></div>
				        <div class="uk-card uk-card-secondary uk-card-body uk-margin-left uk-flex-stretch"></div>
				</div>
			    <div class="uk-card uk-card-default uk-card-body flex-grow-1 uk-flex-stretch"></div>
			</div>
		</div>
	</div>
</div>
<div class="waiting-users">
	<div class="waiting-table-content">
		<h3>Waiting for 4 more users<div uk-spinner class="uk-margin-small-left"></div></h3>
		<table class="uk-table uk-table-divider">
		    <thead>
		        <tr>
		            <th>Username</th>
		            <th>Tokens</th>
		            <th>World Rank</th>
		        </tr>
		    </thead>
		    <tbody>
		        <tr _ngcontent-c1="">
		            <td _ngcontent-c1="">asturtony</td>
		            <td _ngcontent-c1="">497</td>
		        	<td _ngcontent-c1="">1</td>
		        </tr>
		        <tr _ngcontent-c1="">
		            <td _ngcontent-c1="">dscollan11</td>
		            <td _ngcontent-c1="">493</td>
		        	<td _ngcontent-c1="">2</td>
		        </tr>
		        <tr _ngcontent-c1="">
		            <td _ngcontent-c1="">jmatterface1k</td>
		            <td _ngcontent-c1="">489</td>
		        	<td _ngcontent-c1="">3</td>
		        </tr>
		        <tr _ngcontent-c1="">
		            <td _ngcontent-c1="">hibell1y</td>
		            <td _ngcontent-c1="">487</td>
		        	<td _ngcontent-c1="">4</td>
		        </tr>
		        <tr _ngcontent-c1="">
		            <td _ngcontent-c1="">hdeath2f</td>
		            <td _ngcontent-c1="">484</td>
		        	<td _ngcontent-c1="">5</td>
		        </tr>
		        <tr _ngcontent-c1="">
		        	<td _ngcontent-c1="">rraggatt1a</td>
		        	<td _ngcontent-c1="">324</td>
		            <td _ngcontent-c1="">6</td>
		        </tr>
		    </tbody>
		</table>
	</div>
</div>