<div class="page-container">
	<app-sidebar page="market"></app-sidebar>
	<div class="page-content">
		<div class="uk-container uk-overflow-auto uk-margin-top">
			<div class="uk-text-lead">Current Market Data</div>
			<table class="uk-table uk-table-divider uk-table-middle uk-margin-top">
			    <thead>
			        <tr>
			            <th>#</th>
			            <th>Name</th>
			           	<th>Ticker</th>
			            <!-- <th>Market Cap</th> -->
			            <th>Price</th>
			            <!-- <th>Volume (24h)</th> -->
			            <!-- <th>Circulating Supply</th> -->
			            <!-- <th>Change (24h)</th> -->
			        </tr>
			    </thead>
			    <tbody>
			        <tr *ngFor="let coin of coinArray; let i = index">
			        	<td>{{i + 1}}</td>
			            <td>{{coin.name}}</td>
			            <td>{{coin.ticker}}</td>
			            <td>{{coin.price}}</td>
			        </tr>
			    </tbody>
			</table>
		</div>
	</div>
</div>