<div class="bg">	
	<div class="background"></div>
	<div class="uk-container-large uk-card uk-card-primary  center box-shadow">
		<div class= "">
			<h3 class="uk-padding uk-padding-remove-bottom uk-card-title"> You are almost there...<br>Let's finalize your account</h3>
			<div class="uk-margin">
				<img src="../../assets/img_avatar.png" alt="Avatar">
			</div>
			<div class="">
				<form>
					<div class="uk-margin">
						<label class="uk-form-label label">Select a username</label>
						<input class="uk-input uk-form-width-medium" type="text" placeholder="eg. doe_john123">				    	
						<br><br>
						Your username is a unique name that only consists of alphanumeric characters
        			</div>
					<div class="uk-margin">
				    	<button class="uk-button uk-button-default">Submit</button>
				    </div>
				</form>
			</div>
		</div>
	</div>
</div>