<div *ngIf="user">
	<div class="bg background"></div>	
	<div class="background-img background"></div>
	<div class="landingLogo">
		<img src="../assets/WhiteFullLogo.svg" >
	</div>
	<div class="uk-container-large uk-card uk-card-primary  center box-shadow">
		<div class= "uk-margin">
			<h3 class="uk-padding uk-padding-remove-bottom uk-card-title"> You are almost there...<br>Let's finalize your account</h3>
			<div class="uk-margin">
				<img src="{{user.profilePicture}}" alt="Avatar">
			</div>
			<div id="text">
				<form #f="ngForm" (ngSubmit)="onSubmit(f.value)" >
					<div class="uk-margin">
						<label class="uk-form-label label">Select a username</label>
						<input id="username" name="username" [(ngModel)]="user.username" class="uk-input uk-form-width-medium" type="text" placeholder="eg. doe_john123" [class.uk-form-danger]="userExists">		
						<div *ngIf="userExists" class="uk-margin-top">
						    <p class="uk-text-danger"><span uk-icon="warning"></span> Username already exists!</p>
						</div>		    	
						<p>Your username is a unique name that only consists of alphanumeric characters</p>
        	</div>
					<div class="uk-margin">
				    <button type="submit" class="uk-button uk-button-default" ng-disabled="loading">
				    	<div *ngIf="loading;else other_content">
								<div uk-spinner></div>
							</div>
							<ng-template #other_content>Submit</ng-template>
				    </button>
				   </div>
				</form>
			</div>
		</div>
	</div>
</div>