<div class="page-container">
	<app-sidebar
		page="settings">
	</app-sidebar>
	<div class="page-content">
    <div class="uk-container">
      <div class = "uk-card-large uk-card-primary uk-card-hover uk-card-body uk-margin-top">
          <div class = "image-container">
            <div class = "userpic">
              <div class=" hover .uk-align-center">
                <div class="text" align="center">
                  Upload a new Picture
                  <input name="upload" type="file" >
                </div>
              </div>
            </div>
          </div>

          <div class = "uk-text-lead uk-text-bold uk-padding username" align = "middle" >
            <label class="uk-form-label label">Change your username</label>
            <input class="uk-input uk-form-width-medium" type="text" placeholder="Utkarsh Jain">
            <div class = "uk-margin-top" align = "middle">
              <button class="uk-button uk-button-default">Submit</button>
            </div>
          </div>

      </div>
    </div>
  </div>
</div>
