<div class="page-container">
	<app-sidebar
		page="settings">
	</app-sidebar>
	<div class="page-content">
    <div class="uk-container">
      <div class = "uk-card-large uk-card-primary uk-card-hover uk-card-body uk-margin-top">
          <div class = "image-container">
            <div class = "userpic">
              <div class=" hover .uk-align-center">
                <div class="text" align="center">
                  Upload a new Picture
                  <input name="upload" type="file" >
                </div>
              </div>
            </div>
          </div>

          <div class = "uk-text-lead uk-text-bold uk-padding username" align = "left" >
            <label class="uk-form-label label">Change your username</label>
            <input class="uk-input uk-form-width-medium" type="text" placeholder="John Doe">
          </div>

					<div class = "uk-text-lead uk-text-bold uk-padding flname" align = "middle" >
							<div class = "names">
									<div class = "fname" align = "left">
										 <label class="uk-form-label label">Change your First Name</label>
										 <input class="uk-input uk-form-width-small uk-width-1-2" type="text" placeholder="John">
									</div>
								 	<div class = "lname" align = "right">
										<label class="uk-form-label label">Change your Last Name </label>
										<input class="uk-input uk-form-width-small uk-width-1-2" type="text" placeholder="Doe">
									</div>
							</div>
					</div>

					<div class = "uk-text-lead uk-text-bold uk-padding username" align = "left" >
            <label class="uk-form-label label" type="email">Change your email</label>
            <input class="uk-input uk-form-width-medium" type="text" placeholder="JonDoe@example.com">
          </div>

					<div class ="uk-margin-top uk-padding" align = "left">
							<label><input class="uk-checkbox" type = "checkbox"> I would like to recieve notifications about my current league </label>
					</div>

					<div class = "uk-margin-top" align = "middle">
						<button class="uk-button uk-button-default">Submit</button>
					</div>

      </div>
    </div>
  </div>
</div>
