<div class="page-container">
	<app-sidebar page="settings">
	</app-sidebar>
	<div class="page-content">
		<div class="uk-container uk-margin-top">
			<div class="uk-text-lead">Your Profile</div>

			<div class="uk-card-large uk-card-default uk-card-body uk-margin-top">
				<form class="uk-form-stacked" name="form" (ngSubmit)="onSubmit()" #f="ngForm" novalidate>
					<div uk-grid>
					    <div class="uk-width-1-2@s uk-flex uk-flex-middle uk-flex-column">
							<div class="userpic uk-margin-bottom"  [ngStyle]="{ 'background-image': 'url()'} ">
								<!-- <div class=" hover .uk-align-center">
									<div class="text" align="center">
										Upload a new Picture
										<input name="upload" type="file">
									</div>
								</div> -->
								<img src="{{user.profilePicture}}" />
							</div>
							<div>
								<label class="uk-form-label" for="form-stacked-text" >Change your Profile Picture URL</label>
						        <div class="uk-form-controls">
						            <input class="uk-input" id="form-stacked-text" type="text" placeholder="{{user.profilePicture}}" name="profilePicture" [(ngModel)]="user.profilePicture" [class.uk-form-danger]="userExists" #profilePicture="ngModel" pattern="https?:\/\/(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&//=]*)">
						        </div>
						        <div *ngIf="profilePicture.hasError('pattern')"><p class="uk-text-danger"><span uk-icon="warning"></span> Please enter correct URL for image.</p></div>
						    </div>
					    </div>
					    <div class="uk-width-1-2@m">
						    <div class="uk-margin">
						        <label class="uk-form-label" for="form-stacked-text" >Change your Username</label>
						        <div class="uk-form-controls">
						            <input class="uk-input" id="form-stacked-text" type="text" placeholder="{{user.username}}" name="username" [(ngModel)]="user.username" [class.uk-form-danger]="userExists">
						        </div>
						        <div *ngIf="userExists" class="uk-margin-top">
						        	<p class="uk-text-danger"><span uk-icon="warning"></span> Username already exists!</p>
						        </div>
						    </div>
						    <div class="uk-margin">
						        <label class="uk-form-label" for="form-stacked-text">Change your First Name</label>
						        <div class="uk-form-controls">
						            <input disabled class="uk-input" id="form-stacked-text" type="text" placeholder="{{user.firstname}}" name="firstname" [(ngModel)]="user.firstname">
						        </div>
						    </div>
						    <div class="uk-margin">
						        <label class="uk-form-label" for="form-stacked-text">Change your Last Name</label>
						        <div class="uk-form-controls">
						            <input disabled class="uk-input" id="form-stacked-text" type="text" placeholder="{{user.lastname}}" name="lastname" [(ngModel)]="user.lastname">
						        </div>
						    </div>
						    <div class="uk-margin">
						        <div class="uk-form-controls">
						            <label><input class="uk-checkbox" type="checkbox"> I would like to recieve notifications about my current league.</label><br>
						        </div>
						    </div>
						    <div class="uk-margin">
						        <div uk-form-custom>
						        	<div *ngIf="submitted;else other_content">
										<button class="uk-button uk-button-primary" type="submit" tabindex="-1" disabled><div uk-spinner></div> Saving</button>
									</div>
									<ng-template #other_content>
										<button class="uk-button uk-button-primary" type="submit" tabindex="-1">Submit</button>
									</ng-template>
						        </div>
						    </div>
						      <div *ngIf="success" class="uk-margin-top">
						        	<p class="uk-text-success"><span uk-icon="check"></span> Profile updated successfully!</p>
						        </div>
					    </div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
