<div class="page-container">
	<app-sidebar page="league" [league]="league">
	</app-sidebar>
	<div class="page-content">
		<div *ngIf="league && league.status == 0;else leagueDetail" style="height: 100%;">
			<app-league-waiting-overlay [league]="league"></app-league-waiting-overlay>
		</div>
		<ng-template #leagueDetail>
			<div class="uk-container uk-margin-top">
				<div class="uk-text-lead">League #{{league.league_id}}</div>
				<div class="uk-margin-top card-container uk-grid-small uk-grid-match" uk-grid>
					<app-portfolio
						[clickCallback]="portfolioClicked"
						[hideCards]="portfolioOpened"
						[class.uk-width-1-2@m]="!portfolioOpened"
						[class.uk-width-1-1@m]="portfolioOpened"
						class="uk-animation-slide-left">
					</app-portfolio>
					<div class="uk-width-1-2@m">
						<div *ngIf="!hideCards" class="uk-card uk-card-secondary uk-card-small uk-card-body uk-animation-slide-right" [class.uk-animation-reverse]="portfolioOpened">
							<h3 class="uk-card-title">Stats & Distribution</h3>
							<div class="uk-flex uk-flex-bottom uk-card-body">
								<div uk-grid *ngIf="!hideCards">
									<ul class="uk-list uk-list-large">
									    <li>Your Rank: #5</li>
									    <li>Most Gains (24h): asturtony</li>
											<!-- <li>League status: {{status}}</li> -->
											<li>{{timeRemaining}} s until the league {{status}}</li>
									</ul>
									<ul class="uk-list uk-list-large">
										<li><b>Prize Distribution:</b></li>
									    <li>#1 - #{{league.portfolio_ids.length / 10}}: 50</li>
									    <li>#{{league.portfolio_ids.length / 10 + 1}} - #{{league.portfolio_ids.length / 4}}: 37.5</li>
									    <li>#{{league.portfolio_ids.length / 4 + 1}} - #{{league.portfolio_ids.length / 2}}: 25</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="uk-container uk-card-small uk-margin-top uk-margin-large-bottom uk-animation-slide-bottom" [class.uk-animation-reverse]="portfolioOpened" *ngIf="!hideCards">
					<div class="uk-card uk-card-default uk-card-body">
						<div class="uk-flex uk-flex-between">
							<div>
								<h3 class="uk-card-title">League Leaderboard</h3>
							</div>
							<div *ngIf="loadingLeague;else other_content">
								<div uk-spinner></div>
							</div>
							<ng-template #other_content><span uk-icon="refresh" class="uk-button" (click)="loadLeague()"></span></ng-template>
						</div>
						<div class="uk-container uk-table-striped uk-margin-top uk-overflow-auto">
							<table class="uk-table uk-margin-top uk-table-divider uk-table-middle">
							    <thead>
							        <tr>
							            <th>Rank</th>
							            <th></th>
							            <th>Username</th>
							            <th>Total Earnings</th>
							            <th>Captain Coin</th>
							        </tr>
							    </thead>
							    <tr *ngFor="let user of league.portfolio_ids" _ngcontent-c1="">
							     	<td>-</td>
							     	<td><span class="uk-icon uk-icon-image" [ngStyle]="{'background-image': 'url(' + user.profilePicture +')'}"></span></td>
							     	<td _ngcontent-c1="">{{user.username}}</td>
						            <td _ngcontent-c1="">0</td>
						            <td _ngcontent-c1="">-</td>
						        </tr>
							</table>
						</div>
					</div>
				</div>
			</div>

			<div class="progress-bar" [class.starting]="league.status == 1" [class.started]="league.status == 2" >
				<div class="progress" [style.width]="timeRemainingPercent + '%'" [class.starting]="league.status == 1" [class.started]="league.status == 2"></div>
				<p>{{timeRemaining}} s until the league {{status}}</p>
			</div>
		</ng-template>
	</div>
</div>
