<div class="uk-container uk-card-small uk-margin-top uk-margin-large-bottom uk-animation-slide-bottom">
	<div class="uk-card uk-card-default uk-card-body">
		<div class="uk-flex uk-flex-between">
			<div>
				<h3 class="uk-card-title">Past Leagues</h3>
			</div>
		</div>
		<div class="uk-container uk-table-striped uk-overflow-auto">
			<table class="uk-table uk-margin-top uk-table-middle">
			    <thead>
			        <tr>
		            <th>#</th>
		            <th>Class</th>
		            <th>Final Rank</th>
		            <th>Payout</th>
		            <th>Portfolio Gains</th>
			        </tr>
			    </thead>
			    <tr *ngFor="let league of user.pastLeagues">
			    	<th><a href="/league/{{league.league_id}}">{{league.league_id}}</a></th>
			    	<th>{{league.league_type}}</th>
			    	<th>{{league.user_rank}}</th>
			    	<th>{{league.user_payout}}</th>
			    	<th [class.uk-text-success]="league.portfolio_value >= 0" [class.uk-text-danger]="league.portfolio_value < 0">
			    		<span *ngIf="league.portfolio_value > 0;else negChange" uk-icon="triangle-up"></span>
							<ng-template #negChange>
								<span uk-icon="triangle-down"></span>
							</ng-template>
							{{league.portfolio_value | number:'1.2-2'}}%
			    	</th>
		      </tr>
			</table>
		</div>
	</div>
</div>
