<div class="page-container">
	<app-sidebar
		page="Leaderboard">
	</app-sidebar>
	<div class="page-content">
		<div class="uk-container uk-table-striped uk-margin-top uk-overflow-auto">
			<div class="uk-text-lead">Live Rankings</div>
			<table class="uk-table uk-margin-top uk-table-divider uk-table-middle">
		    <thead>
		        <tr>
		            <th>Rank</th>
		            <th>User</th>
		            <th>Coins</th>
		        </tr>
		    </thead>

			  <tbody *ngIf="allUsers">
		        <tr *ngFor="let user of allUsers" >
		            <td>{{user.rank}}</td>
		            <td>{{user.username}}</td>
		            <td>{{user.tokens}}</td>
		        </tr>
			  </tbody>  
		</table>
		</div>
		<div class="uk-margin-xlarge-top uk-container uk-table-striped uk-overflow-auto">
			<div class="uk-text">Your Ranking</div>
			<table class="uk-table uk-margin-top uk-table-divider uk-table-middle">
			<thead>
		        <tr>
		            <th>Rank</th>
		            <th>User</th>
		            <th>Coins</th>
		        </tr>
		    </thead>
			  <tbody *ngIf="currentUser">
		        <tr>
		            <td>{{currentUser.rank}}</td>
		            <td>{{currentUser.username}}</td>
		            <td>{{currentUser.tokens}}</td>
		        </tr>
			  </tbody>  
		</table>
		</div>
		<div class="uk-margin-large-top uk-container uk-nav-center">
			<button class="uk-button uk-button-default">Prev</button>
			<button class="uk-button uk-button-default uk-disabled">{{currentPage}}</button>
			<button class="uk-button uk-button-default">Next</button>
		</div>
	</div>
</div>