<div class="page-container">
	<app-sidebar
		page="Leaderboard">
	</app-sidebar>
	<div class="page-content">
		<div class="uk-container uk-table-striped uk-margin-top uk-overflow-auto">
			<div class="uk-text-lead">Live Rankings</div>
			<form class="uk-search uk-search-default">
					<a class="uk-search-icon-flip" uk-search-icon></a>
					<input class="uk-search-input" type="search" placeholder="Search for a user" (input)="onSearchChange($event.target.value)">
			  <div uk-dropdown="mode: click" class="background">
					<ul class="uk-nav uk-dropdown-nav dropdown">					        
			      <li class="uk-margin-right item" align="center" *ngFor="let c of searchResults">
			      	<div>{{c}}</div>
			      	<div class="uk-margin-small uk-nav-divider">
			      	</div>
			      </li> 
			    </ul>
				</div>
			</form>
			<table class="uk-table uk-margin-top uk-table-divider uk-table-middle">
		    <thead>
		        <tr>
		            <th>Rank</th>
		            <th>User</th>
		            <th>Coins</th>
		        </tr>
		    </thead>

			  <tbody *ngIf="allUsers">
		        <tr *ngFor="let user of allUsers" >
		            <td>{{user.rank}}</td>
		            <td>{{user.username}}</td>
		            <td>{{user.tokens}}</td>
		        </tr>
			  </tbody>  
		</table>
		</div>
		<div class="uk-margin-xlarge-top uk-container uk-table-striped uk-overflow-auto">
			<div class="uk-text">Your Ranking</div>
			<table class="uk-table uk-margin-top uk-table-divider uk-table-middle">
			<thead>
		        <tr>
		            <th>Rank</th>
		            <th>User</th>
		            <th>Coins</th>
		        </tr>
		    </thead>
			  <tbody *ngIf="currentUser">
		        <tr>
		            <td>{{currentUser.rank}}</td>
		            <td>{{currentUser.username}}</td>
		            <td>{{currentUser.tokens}}</td>
		        </tr>
			  </tbody>  
		</table>
		</div>
		<div class="uk-margin-large-top uk-margin-bottom uk-container uk-nav-center">
			<button class="uk-button uk-button-default" (click)="clickPrev()">Prev</button>
			<button class="uk-button uk-button-default uk-disabled">{{currentPage}}</button>
			<button class="uk-button uk-button-default" (click)="clickNext()">Next</button>
		</div>
	</div>
</div>