@import 'variables';

.uk-search {
  margin-top: 1em;
}

.uk-table-striped tbody tr:nth-of-type(odd) {
	background: #4ea0f3;
	color: $off-white;
}

button:hover {
	background: #4ea0f3;
	color: $off-white;
}