<div *ngIf="!hideCards" class="uk-card uk-card-secondary uk-card-small uk-card-body uk-animation-slide-right" [class.uk-animation-reverse]="portfolioOpened">
	<h3 class="uk-card-title">Stats & Distribution</h3>
	<div class="uk-flex uk-flex-bottom uk-card-body">
		<div uk-grid *ngIf="!hideCards">
			<ul class="uk-list uk-list-large">
				<li>Your Rank: #{{rank}}</li>
				<li>User at #1: {{leader}}</li>
				<li>League status: {{getStatus(league.status)}}</li>
				<li *ngIf="league.status < 4; else endMessage">{{timeRemaining}} until the league {{status}}</li>
			</ul>
			<ul class="uk-list uk-list-large">
				<li><b>Prize Distribution:</b></li>
				<li>#1 - #{{this.topTen}}: 50</li>
				<li>#{{this.topTen+ 1}} - #{{this.topTwentyfive}}: 37.5</li>
				<li>#{{this.topTwentyfive + 1}} - #{{this.topFifty}}: 25</li>
			</ul>
		</div>
	</div>
</div>
