<div class="page-container">
	<app-sidebar page="dashboard" [league]="league">
	</app-sidebar>
	<div class="page-content">
		<div class="uk-container uk-margin-top" *ngIf="user">
			<div class="uk-text-lead">Hello, {{user.firstname}} {{user.lastname}}</div>
			<div class="uk-margin-top card-container uk-grid-small uk-grid-match uk-child-width-expand@s" uk-grid>
				<div>
					<div class="uk-card uk-card-primary uk-card-small uk-card-body ">
						<h3 class="uk-card-title">{{user.username || "Username not set"}}</h3>
						<div class="uk-card-body">
							<div class="uk-grid-divider" uk-grid>
								<div class="uk-width-1-2@m">
									<ul class="uk-list">
										<li><span class="uk-text-bold">Your Tokens:</span> {{user.tokens}}</li>
										<li><span class="uk-text-bold">World Rank:</span> #{{ranking}}</li>
										<li><span class="uk-text-bold">Leagues Participated:</span> {{user.pastLeagues.length}}</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div>
					<div *ngIf="league;else joinLeague" style="height: 100%;">
						<div class="uk-card uk-card-default uk-card-small uk-card-hover uk-card-body ">
							<h3 class="uk-card-title">League #{{league.league_id}}</h3>
							<div class="uk-card-body">
								<div class="uk-grid-divider" uk-grid>
									<div class="uk-width-1-2@m">
										<ul class="uk-list">
											<li><span class="uk-text-bold">{{league.league_type}}</span></li>
											<li><span class="uk-text-bold">Players:</span> {{league.portfolio_ids.length}}</li>
											<li><span class="uk-text-bold">Status:</span> {{getStatus(league.status)}}</li>
										</ul>
									</div>
									<div class="uk-width-1-2@m">
										<a class="uk-flex uk-flex-center" href="/league/{{league.league_id}}">
								    	<span class="join-button" uk-icon="icon: users; ratio: 5"></span>
										</a>
									</div>
								</div>
							</div>
							
						</div>
					</div>
					<ng-template #joinLeague>
						<div class="uk-card uk-card-default uk-card-small uk-card-hover uk-card-body ">
							<div *ngIf="loadingLeague;else leagueLoaded" style="height: 100%;">
								<h3 class="uk-card-title">Loading League...</h3>
								<span class="uk-flex uk-flex-center">
									<div uk-spinner="ratio: 4"></div>
								</span>
							</div>
							<ng-template #leagueLoaded>
								<h3 class="uk-card-title">Join a League</h3>
								<a class="uk-flex uk-flex-center" href="/join">
							    	<span class=" join-button" uk-icon="icon: plus; ratio: 5"></span>
								</a>
							</ng-template>
						</div>
					</ng-template>
				</div>
			</div>
			<div class="uk-container uk-card-small uk-margin-top">
				<div class="uk-card uk-card-default uk-card-body">
					<div class="uk-flex uk-flex-between">
						<div>
							<h3 class="uk-card-title">Latest Cryptocurrency News</h3>
						</div>
						<div *ngIf="loadingNews;else other_content">
							<div uk-spinner></div>
						</div>
						<ng-template #other_content><span uk-icon="refresh" class="uk-button" (click)="getNews()"></span></ng-template>
					</div>
					<div class="news-scroll ">
						<div *ngFor="let news of newsArray ">
							<div *ngIf="news.urlToImage " class="uk-flex uk-margin-bottom" uk-grid>
							 	<div class="uk-width-1-4@s news-image " [ngStyle]="{ 'background-image': 'url(' + news.urlToImage + ')'} ">
								</div>
								<article class="uk-article uk-width-3-4@s">
								    <h1 class="uk-text-lead uk-margin-remove "><a class="uk-link-reset " href=" {{news.url}} ">{{(news.title.length>75)? (news.title | slice:0:75)+'..':(news.title)}}</a></h1>
								    <p class="uk-article-meta uk-margin-remove ">Written by {{news.author}} on {{news.publishedAt | date:'fullDate'}}. Posted in <a href=" {{news.url}} ">{{news.source.name}}</a></p>
								    <p class="uk-margin-small ">{{(news.description.length>200)? (news.description | slice:0:200)+'..':(news.description)}} </p>
								    <div class="uk-grid-small uk-child-width-auto " uk-grid>
								        <div>
								            <a class="uk-button uk-button-text " href=" {{news.url}} " target="_blank ">Read more</a>
								        </div>
								    </div>
								</article>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
