<div class="page-container">
	<app-sidebar
		page="dashboard">
	</app-sidebar>
	<div class="page-content">
		<div class="uk-container uk-margin-top">
			<div class="uk-text-lead">Hello, {{user.firstname}} {{user.lastname}}</div>
			<div class="uk-flex uk-flex-center uk-margin-top">
				<div class="uk-card uk-card-primary uk-card-small uk-card-body uk-width-1-2">
				    <h3 class="uk-card-title">{{user.username || "Username not set"}}</h3>
				    <div class="uk-flex uk-flex-bottom uk-card-body">
					    <ul class="uk-list">
					    	<li><span class="uk-text-bold">Your Tokens:</span> {{user.tokens}}</li>
					    	<li><span class="uk-text-bold">World Rank:</span> #45</li>
					    </ul>
					</div>
				</div>
				<div class="uk-card uk-card-default uk-card-small uk-card-hover uk-card-body uk-margin-left uk-width-1-2">
				    <h3 class="uk-card-title">Join a League</h3>
				    <a class="uk-flex uk-flex-center" href="/join">
				    	<span class=" join-button" uk-icon="icon: plus; ratio: 5"></span>
					</a>
				</div>
			</div>
			<div class="uk-container uk-card-small uk-margin-top">
				<div class="uk-card uk-card-default uk-card-body">
					<h3 class="uk-card-title">Latest Cryptocurrency News</h3>
					<div class="news-scroll">
						<div class="uk-flex uk-margin-bottom">
						 	<div class="uk-width-1-4">
							    <img src="http://s.marketwatch.com/public/resources/MWimages/MW-GA862_buteri_ZG_20171228162436.jpg">
							</div>
							<article class="uk-article uk-width-3-4 uk-margin-left">
							    <h1 class="uk-text-lead uk-margin-remove"><a class="uk-link-reset" href="">Ethereum chief warns cryptocurrencies could ‘drop to near-zero at any time’</a></h1>
							    <p class="uk-article-meta uk-margin-remove">Written by <a href="#">Karen Friar</a> on 12 April 2012. Posted in <a href="#">Marketwatch.com</a></p>
							    <p class="uk-margin-small">Ever a voice of caution in the crypto craziness, Vitalik Buterin tells people not to bet the farm on digital currencies as they are “hyper-volatile”, saying “traditional assets are still your safest bet.</p>
							    <div class="uk-grid-small uk-child-width-auto" uk-grid>
							        <div>
							            <a class="uk-button uk-button-text" href="#">Read more</a>
							        </div>
							    </div>
							</article>
						</div>
						<div class="uk-flex uk-margin-bottom">
						 	<div class="uk-width-1-4">
							    <img src="http://s.marketwatch.com/public/resources/MWimages/MW-GA862_buteri_ZG_20171228162436.jpg">
							</div>
							<article class="uk-article uk-width-3-4 uk-margin-left">
							    <h1 class="uk-text-lead uk-margin-remove"><a class="uk-link-reset" href="">Ethereum chief warns cryptocurrencies could ‘drop to near-zero at any time’</a></h1>
							    <p class="uk-article-meta uk-margin-remove">Written by <a href="#">Karen Friar</a> on 12 April 2012. Posted in <a href="#">Marketwatch.com</a></p>
							    <p class="uk-margin-small">Ever a voice of caution in the crypto craziness, Vitalik Buterin tells people not to bet the farm on digital currencies as they are “hyper-volatile”, saying “traditional assets are still your safest bet.</p>
							    <div class="uk-grid-small uk-child-width-auto" uk-grid>
							        <div>
							            <a class="uk-button uk-button-text" href="#">Read more</a>
							        </div>
							    </div>
							</article>
						</div>
						<div class="uk-flex uk-margin-bottom">
						 	<div class="uk-width-1-4">
							    <img src="http://s.marketwatch.com/public/resources/MWimages/MW-GA862_buteri_ZG_20171228162436.jpg">
							</div>
							<article class="uk-article uk-width-3-4 uk-margin-left">
							    <h1 class="uk-text-lead uk-margin-remove"><a class="uk-link-reset" href="">Ethereum chief warns cryptocurrencies could ‘drop to near-zero at any time’</a></h1>
							    <p class="uk-article-meta uk-margin-remove">Written by <a href="#">Karen Friar</a> on 12 April 2012. Posted in <a href="#">Marketwatch.com</a></p>
							    <p class="uk-margin-small">Ever a voice of caution in the crypto craziness, Vitalik Buterin tells people not to bet the farm on digital currencies as they are “hyper-volatile”, saying “traditional assets are still your safest bet.</p>
							    <div class="uk-grid-small uk-child-width-auto" uk-grid>
							        <div>
							            <a class="uk-button uk-button-text" href="#">Read more</a>
							        </div>
							    </div>
							</article>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>