<div class="page-container">
	<app-sidebar></app-sidebar>
	<div class="page-content">
		<div class="uk-container uk-margin-top">
			<div class="uk-text-lead">Hello, John Doe</div>
			<div class="uk-flex uk-flex-center uk-margin-top">
				<div class="uk-card uk-card-primary uk-card-small uk-card-body uk-width-1-2">
				    <h3 class="uk-card-title">Username</h3>
				    <div class="uk-flex uk-flex-bottom uk-card-body">
					    <ul class="uk-list">
					    	<li><span class="uk-text-bold">Your Tokens:</span> 100</li>
					    	<li><span class="uk-text-bold">World Rank:</span> #45</li>
					    </ul>
					</div>
				</div>
				<div class="uk-card uk-card-default uk-card-small uk-card-hover uk-card-body uk-margin-left uk-width-1-2">
				    <h3 class="uk-card-title">Join a League</h3>
				    <a class="uk-flex uk-flex-center" href="/join">
				    	<span class=" join-button" uk-icon="icon: plus; ratio: 5"></span>
					</a>
				</div>
			</div>
			<div class="uk-container uk-card-small uk-margin-top">
				<div class="uk-card uk-card-default uk-card-body">
					 <h3 class="uk-card-title">Latest Cryptocurrency News</h3>
					 <p>Lorem ipsum <a href="#">dolor</a> sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				</div>
			</div>
		</div>
	</div>
</div>